@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin:30px 0;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
nav ul li a:hover{
    color: #ff5ea2;
    cursor: pointer;
    transition: 0.5s;
}
nav ul li button{
    border-radius: 6px;
    border-color: lightgray;
    background-color: #fff;
    padding: 12px;
    color:#4353ff
}
nav ul li button:hover{
    color: #ff5ea2;
    cursor: pointer;
    background-color:lightgray;
    transition: 0.8s;
}
.poster{
    height:350px;
    display: flex;
    z-index: -1;
    justify-content: center;
    position: relative;
    background-color: #4353ff;
    border-radius: 0 0 100px 0;
    

}

.poster-1{
    width:50%;
    background-color: #74b9ff;
    border-radius: 0 0 100px 0;
    text-align: left;
    position: relative;
    padding: 30px;
    color: #ffffff;
    
}
.button-edit {
    margin-top: 80px;
    color:#74b9ff;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    width:100px;
    border:none;
    


}
.button-edit:hover{
    width:120px;
    transition: 0.5s;
    cursor: pointer;
}

.poster-2{
    background-color: #4353ff;
    position: relative;
    width:50%;      
    height: 100%;
    display:flex;
    justify-content: center;
    z-index: -1;
}


footer{
    height:100px;
    padding:20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
   

}
footer div:first-child{
    width: 50%;
    height: 100%;
    
}
footer div:last-child{
    width: 50%;
    height: 100%;
}
footer ul.text{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    list-style: none;
    padding: 10px;
    text-align: left;
}
footer ul.text button{
    background-color: #ffffff;
    border-radius: 60%;
    padding:15px;
    border: 1px solid #000;
    

}
footer ul.box{
    height:130px;
    margin:0px;
    list-style:none;
    padding: 30px 30px;
    display:flex;
    flex-direction: row;
    position: relative;
    text-align:center;
    justify-content:space-around;
}
footer ul.box div.box1{
    height:130px;
    width:100px;
    border: none;
    padding: 10px;
    margin:20px;
    color: #ffffff;  
    background-color: hsl(229, 90%, 44%);
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px #bdb4b4;
    
    
}
footer ul.box div.box2{
    height:130px;
    width: 100px;
    border: none;
    padding: 10px;
    margin:20px;
    color: #ffffff;
    background-color: #74b9ff;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px #bdb4b4;
}
footer ul.box div.box3{
    width:100px;
    border: 1px solid #000;
    padding: 1px;
    margin:20px;
    color:#ffffff;
    background-color: rgb(5, 27, 59);
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px #9c9898;
    height: 130px;
    }

.poster .poster-2 .cir{
    position: absolute;
    margin-top: 50px;
    padding-left: 50px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #75b9fe;
    z-index: -1;
   
}
.navbar{
    position: sticky;
    top:0;
    width: 100%;
}
footer .container1 .text .button{
    border-radius: 50%;
    width: 50px;
}
footer .container1 .text .button:hover{
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}


@media only screen and (max-width:700px){
    nav ul{
        width:100%;
        background: linear-gradient(to right,#fb5283,#ff3527);
        position: absolute;
        top:75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
}